<div th:fragment="script_end(section_title, add_button_name, button_url)">
    <div class="container d-flex flex-wrap">
        <h1 th:text="${section_title}"
            class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none fs-2 fw-bold">
            Section Header
        </h1>
        <a th:if="${add_button_name != null and add_button_name != ''}"
           th:href="${button_url}"
           class="btn btn-primary">
            <span th:text="${add_button_name}">Add Button</span>
        </a>
    </div>
    <hr>
</div>