<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/head_start :: head_start('Goal Achievements')}"></th:block>
<body>
<div class="d-flex">
    <div>
        <th:block th:insert="~{fragments/home_sidebar :: home_sidebar('home', ${isAdmin})}"></th:block>
    </div>

    <div class="flex-grow-1 px-3 mt-5">
        <th:block th:insert="~{fragments/section_header :: section_header(
        ${#strings.capitalize(goalAchievements.goalName)} + ' Achievements',
        'Add Achievement',
        '/home/goals/' + ${goalAchievements.goalId} + '/achievements/add'
        )}"></th:block>

        <div class="w-75 ms-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Achievement</th>
                    <th scope="col">Amount to Reach</th>
                    <th scope="col">Date Awarded</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="achievement : ${goalAchievements.achievements}">
                    <th scope="row" th:text="${achievement.title}">Achievement Title</th>
                    <td th:text="${achievement.amountToReach}">Amount</td>
                    <td th:text="${achievement.dateAwarded}">Date Awarded</td>
                    <td>
                        <form th:action="@{/home/goals/{goalId}/achievements/delete/{achievementId}
                                (goalId=${goalAchievements.goalId}, achievementId=${achievement.achievementId})}" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">&minus;</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/script_end :: script_end}"></th:block>
</body>
</html>
